#patient-header {
  background-image: url(https://images.pexels.com/photos/7089329/pexels-photo-7089329.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-size: cover;
  background-position: 50% 60%;
  background-repeat: no-repeat;
  width: 200%;
  height: 400px;
}